.appointment-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .appointment-item {
    width: 270px;
    margin-right: 26px;
    margin-top: 20px;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.appointment-item-title {
  color: #171f46;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .appointment-item-title {
    font-size: 18px;
  }
}

.star-btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.star-img {
  height: 24px;
  width: 24px;
}

.date {
  color: #b5b7c4;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 14px;
  }
}
