.bg-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  padding-top: 40px;
  padding-bottom: 40px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 14px;
  max-width: 500px;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .app-container {
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1110px;
  }
}

.form-img-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .form-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    width: 30%;
    min-width: 340px;
  }
}

.app-title {
  color: #171f46;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: bold;
}

.input-label {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 20px;
}

.name-input {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 400;
  border: 1px solid #b5b7c4;
  border-radius: 4px;
}

.date-input {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 400;
  border: 1px solid #b5b7c4;
  border-radius: 4px;
  color: #b5b7c4;
}

.add-btn {
  color: #ffffff;
  background-color: #8b5cf6;
  border: none;
  outline: none;
  border-radius: 8px;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;
  font-size: 15px;
  font-family: 'Roboto';
  align-self: flex-start;
  margin-top: 20px;
  cursor: pointer;
}

.app-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .app-img {
    display: flex;
    height: 280px;
    width: 380px;
    margin-bottom: 0px;
  }
}

.line {
  border: 1px solid #dee0e3;
  width: 90%;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .line {
    width: 80%;
  }
}
.appointments-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .appointments-heading-container {
    width: 80%;
  }
}

.heading {
  color: #171f46;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.starred-btn {
  border: 1px solid #9897f0;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Roboto';
  color: #9897f0;
  padding: 8px 12px 8px 12px;
  background-color: transparent;
  cursor: pointer;
}

.active {
  background-color: #9897f0;
  color: #ffffff;
  border: none;
}

.appointments-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .appointments-list {
    width: 80%;
  }
}
